trigger:
  batch: true
  branches:
    include:
      - "master"

variables:
  - name: SolutionBaseName
    value: "SFA.DAS.IdentifyDataLocks.Web"

resources:
  repositories:
    - repository: das-platform-building-blocks
      type: github
      name: SkillsFundingAgency/das-platform-building-blocks
      ref: refs/tags/3.0.10
      endpoint: SkillsFundingAgency

stages:
- stage: Build
  jobs:
  - template: pipeline-templates/job/code-build.yml
