@model TnpDataLockRowModel

<tr class="govuk-table__row @Model.RowClass">
    <th scope="row" class="govuk-table__header">@Model.Heading</th>
    <td class="govuk-table__cell">n/a</td>
    <td class="govuk-table__cell">@foreach(var v in Model.IlrValues)
    {
        <p>Date: @v.Start.ToShortDateString()</p>
        <p>Price: @v.Amount.ToString("c")</p>
    }</td>
    <td class="govuk-table__cell"> - </td>
</tr>