@page
@model LearnerDataMismatches.Pages.StartModel
@{
}

<div class="govuk-form-group">
    <form action="Learner" >
        <label class="govuk-label" for="uln">
            ULN
        </label>
        <span id="uln-hint" class="govuk-hint">
            Unique Learner Number
        </span>
        <input class="govuk-input" id="uln" name="uln" asp-for="Uln" autocomplete="uln" spellcheck="false" value="9000000407">

        <button class="govuk-button" data-module="govuk-button">
            Find
        </button>
    </form>
</div>

